body {
    background-image: url("rabbit.png");
    background-repeat: repeat;

    color: rgb(214, 131, 131);
}

section {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    border: 5px solid rgb(81, 117, 53);
}

.drop {
    animation-name: slideDown;
    animation-duration: 3s;
}

@keyframes slideDown {
    0% {
        transform: translateY(-300%);
    }
    50% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(0%);
    }
}
